# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Restarter/v16/.suo
.vs/Restarter/v16/Browse.VC.db
.vs/Restarter/v16/Browse.VC.db-shm
.vs/Restarter/v16/Browse.VC.db-wal
.vs/Restarter/v16/Browse.VC.opendb
.vs/Restarter/v16/ipch/AutoPCH/2b45aaf68a5ea24c/RESTARTER.ipch
.vs/Restarter/v16/ipch/AutoPCH/4612b856f6de3328/RESTARTER.ipch
.vs/Restarter/v16/ipch/AutoPCH/69e660edc3f75e03/RESTARTER.ipch
.vs/Restarter/v16/ipch/AutoPCH/972882db0a53a505/RESTARTER.ipch
.vs/Restarter/v16/ipch/AutoPCH/a405d62757f2602e/RESTARTER.ipch
.vs/Restarter/v16/ipch/AutoPCH/c3bcd71a9d24a87c/RESTARTER.ipch
Debug/Restarter.pdb
Restarter.sln
Restarter/Debug/Restarter.exe.recipe
Restarter/Debug/Restarter.ilk
Restarter/Debug/Restarter.log
Restarter/Debug/restarter.obj.enc
Restarter/Debug/Restarter.tlog/CL.command.1.tlog
Restarter/Debug/Restarter.tlog/CL.read.1.tlog
Restarter/Debug/Restarter.tlog/CL.write.1.tlog
Restarter/Debug/Restarter.tlog/link.command.1.tlog
Restarter/Debug/Restarter.tlog/link.read.1.tlog
Restarter/Debug/Restarter.tlog/link.write.1.tlog
Restarter/Debug/Restarter.tlog/Restarter.lastbuildstate
Restarter/Debug/vc142.idb
Restarter/Debug/vc142.pdb
Restarter/Restarter.vcxproj
Restarter/Restarter.vcxproj.filters
Restarter/Restarter.vcxproj.user
Restarter/x64/Debug/Restarter.exe.recipe
Restarter/x64/Debug/Restarter.ilk
Restarter/x64/Debug/Restarter.log
Restarter/x64/Debug/Restarter.tlog/CL.command.1.tlog
Restarter/x64/Debug/Restarter.tlog/CL.read.1.tlog
Restarter/x64/Debug/Restarter.tlog/CL.write.1.tlog
Restarter/x64/Debug/Restarter.tlog/link.command.1.tlog
Restarter/x64/Debug/Restarter.tlog/link.read.1.tlog
Restarter/x64/Debug/Restarter.tlog/link.write.1.tlog
Restarter/x64/Debug/Restarter.tlog/Restarter.lastbuildstate
Restarter/x64/Debug/vc142.idb
Restarter/x64/Debug/vc142.pdb
Restarter/x64/Release/Restarter.exe.recipe
Restarter/x64/Release/Restarter.iobj
Restarter/x64/Release/Restarter.ipdb
Restarter/x64/Release/Restarter.log
Restarter/x64/Release/Restarter.tlog/CL.command.1.tlog
Restarter/x64/Release/Restarter.tlog/CL.read.1.tlog
Restarter/x64/Release/Restarter.tlog/CL.write.1.tlog
Restarter/x64/Release/Restarter.tlog/link.command.1.tlog
Restarter/x64/Release/Restarter.tlog/link.read.1.tlog
Restarter/x64/Release/Restarter.tlog/link.write.1.tlog
Restarter/x64/Release/Restarter.tlog/Restarter.lastbuildstate
Restarter/x64/Release/vc142.pdb
x64/Debug/Restarter.pdb
x64/Release/Restarter.pdb
